@parties: pis, ko, p2050, lewica, kuce, psl;

.party {
  position: relative;
  display: flex;

  each(@parties, {
    &--@{value} {
      width: calc(100% * ~"var(--score-@{value})" / var(--score-total) );
      max-height: calc(85% * (~"var(--score-@{value}) / var(--score-top)"));
      order: ~"var(--order-@{value})";

      @media (orientation: portrait) {
        width: auto;
        max-height: 100%;
        height: calc(100% * ~"var(--score-@{value})" / var(--score-total) );
        max-width: calc(85% * (~"var(--score-@{value}) / var(--score-top)"));
      }
  
      .party__percent {
        font-size: ~"min(72px, max(calc(15vw * (var(--score-@{value}) / var(--score-total))), 14px))";
        transform: translate(-50%, -50%) ~"rotate(var(--rotate-@{value}))";

        @media (orientation: portrait) {
          transform: translate(0, -50%) ~"rotate(var(--rotate-@{value}))";
        }
      }
    }
  })

  &__wrapper {
    position: relative;
    width: 100%;
    max-height: 100%;
    display: flex;
    padding: 20px;
  }

  &__head {
    width: 100%;
    height: auto;
    object-fit: contain;
    filter: drop-shadow(5px 5px 5px #222);
    z-index: 1;

    @media (orientation: portrait) {
      object-position: left;
    }
  }

  &__percent {
    position: absolute;
    left: 50%;
    top: 0;
    box-shadow: 0 0 10px 0 #222;
    font-weight: bold;
    background-color: #fff;
    padding: 1% 5%;
    z-index: 2;

    @media (orientation: portrait) {
      left: 0;
    }
  }

  &__name {
    display: none;
  }
}